* {
  margin: 0;
  box-sizing: border-box;
}

.perent {
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: blueviolet;
}

.child {
  width: 150px;
  height: 150px;
  background-color: aqua;
}

.perent:hover .child {
  /* x horizontlno Y vertikalno pomeranje */
  transform: translateX(250px) translateY(250px);
}
