* {
  margin: auto;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap");

.header {
  font-family: "Oswald", sans-serif;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 997;
  width: 100%;
  height: 135px;

  background-color: #fff;
  font-size: 22px;
}
.header a {
  text-decoration: none;
  color: #7f7f90;
}
.header a:hover {
  text-decoration: none;
  color: #47060670;
}
.header p {
  margin: auto;
  margin: 18px;
  position: relative;
  right: 25%;
  top: 50px;
  font-size: 25px;
}
.header h1 {
  margin: auto;
  letter-spacing: -2px;
  color: #000000;
  position: relative;
  right: 10%;
}

.header h2 {
  font-family: "Pacifico", cursive;
  color: #ff0000;
  font-size: 50px;
  position: absolute;
  left: 400px;
  top: 30px;
}
.button {
  display: flex;
  padding: 15px 25px;
  position: absolute;
  left: 83%;
  top: 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff000091;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999999;
}

.button:hover {
  background-color: #09531769;
}

.button:active {
  background-color: #c9f7ca5e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.enjoy {
  width: 100%;
  height: 90vh;
  background-size: cover;
  position: relative;
  background-color: #eee;
}
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Inter:wght@100&family=Oswald&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Oswald&family=Pacifico&display=swap");
.enjoy h1 {
  color: rgb(48, 48, 48);
  position: relative;
  top: 200px;
  left: 150px;
  font-size: 50px;
  weight: 500px;
  font-family: "Amatic SC", cursive;
}

.enjoy p {
  font-size: 30px;
  position: relative;
  left: 150px;
  color: rgb(61, 60, 60);
}

.enjoy button {
  position: absolute;
  left: 170px;
  top: 540px;
  background-color: #ff0000;
  border-radius: 100px;
}

.enjoy button:nth-of-type(2) {
  position: absolute;
  left: 380px;
  top: 540px;
  background-color: #ff0000b7;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
}

.enjoy button i {
  color: red;
  position: absolute;
  left: 7px;
  font-size: 40px;
}
.button1 {
  display: flex;
  padding: 15px 25px;
  position: absolute;
  left: 83%;
  top: 50px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff000091;
  border: none;
  border-radius: 15px;
}
.enjoy h3 {
  font-size: 25px;
  position: relative;
  top: 70px;
  left: 425px;
  color: #6d5c5c;
}

.enjoy img {
  height: 650px;
  position: absolute;
  left: 1200px;
  top: 150px;
}

.drugi {
  width: 100%;
  height: 140vh;
  background-color: #ffffff54;
  display: block;
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.drugi h3 {
  color: #666;
  position: relative;
  top: 80px;
  font-size: 20px;
}
.drugi h1 {
  position: relative;
  top: 100px;
  font-family: "Amatic SC", cursive;
  color: #000000c2;
  font-size: 30px;
  left: -50px;
}

.drugi h1:nth-of-type(2) {
  color: red;
  position: absolute;
  top: 123px;
  left: 1080px;
}
.broj {
  font-size: 40px;
  position: absolute;
  top: 850px;
  left: 300px;
  background-color: #fff;
  width: 700px;
  height: 150px;
}
.broj p {
  position: relative;
  top: 20px;
}
.drugi img {
  position: absolute;
  /* width: 400px; */
  width: 900px;
  height: 950px;
  left: 200px;
  top: 250px;
}

.drugi2 {
  height: 900px;
  /* background-color: aqua; */
  width: 600px;
  justify-content: space-between;
  position: absolute;
  right: 250px;
  font-size: 25px;
  top: 250px;
  text-align: left;
  display: block;
}
.sredina {
  position: relative;
  left: 20px;
}
.sredina i {
  color: red;
}

.i img {
  height: 350px;
  width: 500px;
  position: absolute;
  left: 0px;
  top: 600px;
}

.i i {
  font-size: 100px;
  position: relative;
  z-index: 900;
  top: 180px;
  color: red;
  left: 200px;
}

.trecikontejner {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  display: block;
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.prviii {
  width: 550px;
  height: 650px;
  background-color: #cb1313;
  position: absolute;
  float: left;
  top: 150px;
  left: 100px;
  text-align: left;
  border-radius: 5px;
}

.prviii h1 {
  text-align: left;
  color: white;
  position: relative;
  left: 50px;
  font-size: 50px;
  top: 50px;
}
.prviii p {
  color: white;
  position: absolute;
  left: 50px;
  top: 210px;
  font-size: 28px;
}

.batn {
  height: 70px;
  width: 180px;
  position: absolute;
  bottom: 50px;
  left: 180px;
  border-radius: 50px;
  background-color: #f3bfbfa2;
  font-size: 20px;
  color: white;
  border: 0px;
}
.batn:hover {
  background-color: rgba(224, 175, 175, 0.836);
}

.aa {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.danica {
  width: 350px;
  height: 580px;
  background-color: white;
  position: absolute;
  font-size: 20px;
  left: 700px;
  top: 175px;
}

.danica h1 {
  font-size: 35px;
}
.danica p {
  font-size: 27px;
}
.danica i {
  font-size: 60px;
  background-color: #cb13139a;
  width: 100px;
  height: 70px;
  border-radius: 90px;
  position: relative;

  top: 30px;
}

.danica {
  width: 350px;
  height: 580px;
  background-color: white;
  position: absolute;
  font-size: 20px;
  left: 700px;
  top: 175px;
  border-radius: 20px;
}

.danica h1 {
  font-size: 35px;
  position: absolute;
  top: 200px;
  left: 50px;
}
.danica p {
  font-size: 27px;

  position: absolute;
  top: 350px;
  left: 50px;
}

.danica i {
  font-size: 55px;
  background-color: #cb131341;
  width: 100px;
  height: 70px;
  border-radius: 90px;
  position: relative;
  top: 80px;
}

.zvezda {
  width: 350px;
  height: 580px;
  background-color: white;
  position: absolute;
  font-size: 20px;
  left: 1100px;
  top: 175px;
  border-radius: 20px;
}

.zvezda h1 {
  font-size: 35px;
  position: absolute;
  top: 200px;
  left: 50px;
}
.zvezda p {
  font-size: 27px;
  position: absolute;
  top: 350px;
  left: 50px;
}
.zvezda i {
  font-size: 55px;
  background-color: #cb13133f;
  width: 100px;
  height: 70px;
  border-radius: 90px;
  position: relative;

  top: 80px;
}

.metara {
  width: 350px;
  /* transform: scale(2, 3); */
  height: 580px;
  background-color: white;
  position: absolute;
  font-size: 20px;
  left: 1500px;
  top: 175px;
  border-radius: 20px;
}
.metara:hover {
  transform: scale(1.1, 1.1);
}
.danica:hover {
  transform: scale(1.1, 1.1);
}
.zvezda:hover {
  transform: scale(1.1, 1.1);
}

.metara h1 {
  font-size: 35px;
  position: absolute;
  top: 200px;
  left: 50px;
}
.metara p {
  font-size: 27px;
  position: absolute;
  top: 350px;
  left: 50px;
}
.metara i {
  font-size: 55px;
  background-color: #cb13133f;
  width: 100px;
  height: 70px;
  border-radius: 90px;
  position: relative;

  top: 80px;
}

.pozadina {
  width: 100%;
  height: 650px;
}
.pozadina img {
  width: 100%;
  height: 550px;
  position: sticky;
}

.amer {
  width: 100%;
  height: 2000px;
  text-align: center;
  position: relative;
}
.amer h2 {
  position: relative;
  color: #666;
  top: 65px;
  font-size: 20px;
}
.amer h1 {
  position: relative;
  top: 80px;
  left: -100px;
  font-family: "Amatic SC", cursive;
}
.amer h1:nth-of-type(2) {
  color: red;
  position: relative;
  left: 130px;
  font-family: "Amatic SC", cursive;
  top: 35px;
}
.amer ul {
  display: flex;
  width: 600px;
  position: relative;
  top: 80px;
  font-size: 25px;
  list-style: none;
  gap: 20px;
}
.amer a {
  text-decoration: none;
  color: #666;
}
.amer h2:nth-of-type(2) {
  color: #666;
  position: relative;
  top: 130px;
}
.amer h1:nth-of-type(3) {
  color: red;
  font-size: 40px;
  position: relative;
  top: 140px;
  left: 5px;
}
.slikajen {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 200px;
  top: 480px;
}
.slikajen img {
  width: 400px;
}
.slikajen p {
  font-size: 35px;
}
.slikajen p:nth-of-type(2) {
  font-size: 25px;
}
.slikajen h1 {
  position: relative;
  top: 20px;
  left: -10px;
  color: red;
}

.slidza {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 800px;
  top: 480px;
}
.slidza img {
  width: 400px;
}
.slidza p {
  font-size: 35px;
}
.slidza p:nth-of-type(2) {
  font-size: 25px;
}
.slidza h1 {
  position: relative;
  top: 20px;
  left: -10px;
  color: red;
}
.slidzaaa {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 1400px;
  top: 480px;
}
.slidzaaa img {
  width: 400px;
}
.slidzaaa p {
  font-size: 35px;
}
.slidzaaa p:nth-of-type(2) {
  font-size: 25px;
}
.slidzaaa h1 {
  position: relative;
  top: 20px;
  left: -10px;
  color: red;
}
.slikaje {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 200px;
  top: 1180px;
}
.slikaje img {
  width: 400px;
}
.slikaje p {
  font-size: 35px;
}
.slikaje p:nth-of-type(2) {
  font-size: 25px;
}
.slikaje h1 {
  position: relative;
  top: 20px;
  left: -10px;
  color: red;
}
.slidzza {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 610px;
  top: 0px;
}
.slidzza img {
  width: 400px;
}
.slidzza p {
  font-size: 35px;
}
.slidzza p:nth-of-type(2) {
  font-size: 25px;
}
.slidzza h1 {
  position: relative;
  top: 20px;
  left: -10px;
  color: red;
}
.slidzzza {
  width: 400px;
  height: 600px;
  position: absolute;
  left: 1200px;
  top: 0px;
}
.slidzzza img {
  width: 400px;
}
.slidzzza p {
  font-size: 35px;
}
.slidzzza p:nth-of-type(2) {
  font-size: 25px;
}
.slidzzza h1 {
  position: relative;
  top: 20px;
  left: -10px;
  color: red;
}
