body {
  font-family: "Kalam";
  font-size: 13px;
  background-color: #81ca12;
}
* {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 25vh;
  background-color: rgb(143, 43, 43);
  height: 80 px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
header h1 {
  position: relative;
  top: 25px;
  color: white;
}
header a {
  float: right;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.main {
  height: 300px;
  width: 400px;
  margin-top: 15em;
  background-color: #81ca12;
  float: left;
  margin-left: 50px;
}

.right {
  margin-top: 15em;
  margin-right: 50px;
  height: 250px;
  width: 400px;
  float: right;
  background-color: #81ca12;
}
.right p {
  padding-left: 20px;
  font-size: 15px;
}

img {
  margin-top: 8rem;
  height: 450px;
  width: 500px;
  clear: both;
  border-radius: 10px;
  margin-left: 50px;
  float: left;
}

.slova {
  margin-top: 8rem;
  height: 450px;
  width: 500px;
  float: right;
  margin-bottom: 50px;
  margin-right: 50px;
}

footer {
  margin-top: 25rem;
  clear: both;
  width: 100%;
  background-color: #006400;
  height: 9vh;
}

footer h2 {
  position: relative;
  top: 1rem;
  text-align: center;
}
