* {
  margin: 0;
}
.main {
  /* margin: auto; */
  width: 400px;
  height: 300px;
  background-color: aqua;
  overflow: hidden;
  /* display: block; defaultna vrednost za div */
  /* display: inlineAko je display inline onda gubimo mogucnost definisanja odredjenih stilova kao sto su heigth,weight,margin itd; */
}
.main:nth-of-type(2) {
  background-color: red;
}
.main:nth-of-type(3) {
  background-color: blue;
  display: none;
}
.main:nth-of-type(1) {
  background-color: blue;
  box-sizing: border-box;
  overflow: auto;
}

/* visibility: hidden; za uklananje nekog divaali on ostaje nevidjiv na svom mestu*/
/* display none je za uklanjanje nekog diva; */

.main p {
  line-height: 25px;
}
.secound {
  margin: auto;
  width: 600px;
  height: 500px;
  background-image: url(./more.jpg), url(./Aziz_Shavershian_in_2011.jpg);
  background-repeat: no-repeat;
  /* background no repeat za ne ponavljanje slike */
  background-size: contain;
  /*  */
  /* background-size: cover; */
  /* background-size: 100%; */
  /* Samo bredost za sirinu */
  /* background-size: 100% 50%; */
  /* Prva vrednost sw odnosi na sirinu druga na visinu */
  background-size: 100% 50%, 100% 100%;
}
